<h2 class="title">Let's talk about us</h2>
<div class="row">
    <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a><img src="./assets/img/faces/amine_pic.jpeg" alt="Amine el ghazali"></a>
            </div>
            <div class="card-block">
                <div>
                    <div class="author">
                        <h4 class="card-title">AMINE EL GHAZALI</h4>
                        <h6 class="card-category">ML / Software Engineer | AWS Enthusiast </h6>
                    </div>
                </div>
                <!-- SOMETHING
                </p> -->
            </div>
            <div class="card-footer text-center">
                <a href="https://github.com/amine-elghazali" class="btn btn-link btn-just-icon btn-neutral"><i
                        class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/amine-el-ghazali-302a57207/"
                    class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-duration="2000">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a><img src="./assets/img/faces/yassine_pic.jpeg" alt="..."></a>
            </div>
            <div class="card-block">
                <div>
                    <div class="author">
                        <h4 class="card-title">YASSINE EL KASSMY</h4>
                        <h6 class="card-category">Software engineer</h6>
                    </div>
                </div>
                <!-- <p class="card-description text-center">
                    something
                </p> -->
            </div>
            <div class="card-footer text-center">
                <a href="https://github.com/Yassineelkasmy" class="btn btn-link btn-just-icon btn-neutral"><i
                        class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/yassine-el-kasmy-170048191/"
                    class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

</div>