<h2 class="text-center" data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-duration="500">If you have
    any questions about PRESASTER, you can always text us .</h2>
<form class="contact-form">
    <div class="row">
        <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
            <label>Name</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
            </div>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <label>Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false">
            </div>
        </div>
    </div>
    <label data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">Message</label>
    <textarea data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="2000" class="form-control"
        rows="4" style="resize: none;" placeholder="Tell us your thoughts and feelings..."></textarea>
    <div class="row">
        <div class="col-md-4 mr-auto ml-auto">
            <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
        </div>
    </div>
</form>