<h2 class="title">Let's talk about us</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/amine_pic.jpeg" alt="Amine el ghazali"></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">AMINE EL GHAZALI</h4>
                        <h6 class="card-category">Software / ML engineer</h6>
                    </div>
                </a>
                <!-- SOMETHING
                </p> -->
            </div>
            <div class="card-footer text-center">
                <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/yassine_pic.jpeg" alt="..."></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">YASSINE EL KASSMY</h4>
                        <h6 class="card-category">Software / ML engineer</h6>
                    </div>
                </a>
                <!-- <p class="card-description text-center">
                    something
                </p> -->
            </div>
            <div class="card-footer text-center">
                <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

</div>