<div class="container">
    <div class="row" data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
        <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">Let's talk about PRESASTER</h2>
            <h5 class="description">PRESASTER is a bot that have been created by our team who's able to predict
                whether a tweet is about a disaster or not..</h5>
            <br>
            <a href="https://github.com/amine-elghazali/DeepLearning_RNN_LSTM" placement="right"
                ngbTooltip="Deep learning model github repository" class="btn btn-danger btn-round " target="_blank">See
                Details</a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="1000">
            <div class="info">
                <div class="icon icon-danger">
                    <i class="nc-icon nc-bulb-63"></i>
                </div>
                <div class="description">
                    <h4 class="info-title">The idea</h4>
                    <p>The idea is to build a Deep learning model who's able to classify a disaster / non disaster
                        tweet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="info">
                <div class="icon icon-danger">
                    <i class="nc-icon nc-chart-bar-32"></i>
                </div>
                <div class="description">
                    <h4 class="info-title">Data</h4>
                    <p>The data was took from the famous platform Kaggle.com.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="3000">
            <div class="info">
                <div class="icon icon-danger">
                    <i class="nc-icon nc-sun-fog-29"></i>
                </div>
                <div class="description">
                    <h4 class="info-title">Delightful design</h4>
                    <p>Presaster based on recurrent neural network specially LSTM architecture.</p>
                </div>
            </div>
        </div>
    </div>

</div>