<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/robot.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div>
            <h1 data-aos="fade-up" data-aos-duration="1000" class="motto text-center">PRESASTER</h1>
            <h3 data-aos="fade-up" data-aos-duration="2000" class="motto text-center">Scroll down to know more about
                PRESASTER</h3>
            <br />
            <div data-aos="fade-up" data-aos-duration="3000" class="motto text-center" id="scroll-down-animation"
                style="padding-top: 150px;">
                <span class="mouse">
                    <span class="move"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <app-features></app-features>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <app-about-us></app-about-us>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <app-keep-in-touch></app-keep-in-touch>
                </div>
            </div>
        </div>
    </div>
</div>